html{
     /* google fonts montserrat */
    font-family: 'Montserrat', sans-serif;

}
body{
    /* resetear la etiqueta de body  */
    margin:0;
    /* color gris muy suave para que las tarjetas resalten del fondo */
    background-color: #efefef;
   
}
header{
    background-color: #364552;
    color: white;
    padding: 3rem 2rem;
}

header h1 {
    font-size: 4rem;
    text-align: center;
}

.container{
    /* las imagnees estan usando 400px por eso ponemos esta medida*/
    width: 400px;
    /* para centrar */
    margin: 0 auto;
}

section article{
    /*
    transition indicamos que propiedades de css sean animadas
    indicando un origen y despues mediante un evento indicar 
    el final 
    el inicio seria un box-shadow sin sombra,
    y el final seria la sombra que le asignamos cuando pasamos el mouse por
    encima
    
    y para indicar que solo queremos animar 
    la propiedad de boxshadow 
    despues debemos indicar el tiempo que queramos que tome la 
    transicion entre el punto de inicio y punto final. 
    despues debemos indicar el algoritmo con el cual va a 
    acelerar y desacelerar nuestra animacion 

    transition: box-shadow 0.3s ease;
    linear
    ease 
    ease-out
    */
    /* esta transicion es para ir apareciendo la sombra */
    /* box-shadow */
    transition: all 0.3s ease;
    
    background-color: #fff;
    margin: 1rem 0;
    border-radius: 0.5rem;
    padding: 0.25rem 0;
    cursor: pointer;

}

section article h2, section article p{
    margin: 1rem;
}

section article:hover{

    /* esta propiedad es parecida a text-shadow
    recibe: 
        1 desplazamiento de sombra a la derecha
        2 hacia a bajo respecto al elemento
        3 cuanta difuminacion de la sombra
        y color en este caso es 0.3 con 30% de sombra*/
    
    box-shadow: 0 0.1rem 0.4rem rgba(0,0,0, 0.3);

    
}

footer {
    background-color: #222;
    padding: 3rem;
    color: #fff;
}
footer section{
    float: right;
}

footer p{
    margin: 0; 
}

footer a{

    transition: color 0.3s ease;

    color: #fff;
    text-decoration: none;

}

footer a:hover{
    color: cornflowerblue;
}