/* consola pirata */
body,
td,
th {
  font-family: Courier New, Courier, mono;
  color: #33ff33;
}
body {
  background-color: #000;
}
.Headline {
  font-size: x-large;
}
.comment {
  font-size: small;
}
.Big {
  font-size: large;
  font-weight: bold;
}
a.link {
  color: #33ff33;
  width: 100%;
  height: 100%;
  text-decoration: none;
  font-family: Courier New;
}

a.link:hover {
  text-decoration: none;
  background: #75a6d6;
  font-family: monospace;
}

table {
  border: 1px;
  width: 20%;
}
td {
  text-align: middle;
  border: 1px;
}

.ttime{
  font-family: 'Source Code Pro';
  font-style: normal;
  font-weight: 400;
  width: 10%;
  margin: 1em;
  padding: 2em ;
  background: #121212;
}


/* 
@font-face {
  font-family: "Source Code Pro";
  font-style: normal;
  font-weight: 400;
  src: local("Source Code Pro"), local("SourceCodePro-Regular"),
    url(http://themes.googleusercontent.com/static/fonts/sourcecodepro/v4/mrl8jkM18OlOQN8JLgasDxM0YzuT7MdOe03otPbuUS0.woff)
      format("woff");
}

body {
  font-family: Source Code Pro;
  background: #000;
  color: #00ff00;
  margin: 0;
  font-size: 13px;
}
canvas {
  position: absolute;
  top: 0;
  left: 0;
}
.bars-and-stuff {
  left: 66.6%;
}

.output-console {
  position: fixed;
  overflow: hidden;
}
p {
  margin: 0;
} */

/* 
span {
    min-width: 5px;
    display: inline-block;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 0.85em;
    letter-spacing: 1.5px;
    color: #FFF;
  }
  
  body {
    background: #111;
    position: relative;
  }
  
  body, html {
     height: 100%;
  }
  
  .text {
    overflow: hidden;
    height: auto;
  } */
