/**************************
GENERAL
***************************/
html{
    /* google fonts montserrat */
   font-family: 'Montserrat', sans-serif;

}
* {
    font-size: 15px;
    padding: 0;
    margin: 0;
}
a {
    text-decoration: none;
  }
img {
    width: 100%;
}
body {
    
    background: url(../img/fondos/consola.png);
    background-size: cover;
    background-repeat: no-repeat;
    margin: 0;
    height: 100vh;
}


/**************************
HEADING
***************************/
/* tarea: piratadelrock volverlo aleatorio el color */
#pdr{
    font-size: 4rem;
    transition: color 2s; 
    -webkit-transition: color 1.5s;
    transition: box-shadow 0.5s ease ; 


}
#pdr:hover {
    box-shadow: 0 1rem 5rem 50rem #222;
    border-radius: 45px;
    color: #b90c0c;
    text-decoration: none;
    line-height: inherit;
    
    /*Tarea: intentando dar propiedad de color aleatorio variables */
    /* --main-bg-color: #2798ba; */
    /* background-color: var(--main-bg-color); */
}

header{
    /* background: url(./img/fondos/Cohete.jpg); */
    font-family: 'Days One','Open Sans', sans-serif;
    background-color: #1f2124;
    color: white;
    margin:  0 1rem;
    padding: 1rem 1rem;
    border-radius: 0.3rem;
    
}

header img {
    width: auto;
    height: auto;
    margin:  0;
    padding: 0;
}

header h1 {
    font-size: 4rem;
    text-align: center;
}

header h1 a {
    text-decoration:none;
    color: white;
}

.line{
    /* text-align: center; */
    background-color: #efefef;
    text-align-last: center;
    border-radius: 0.5rem;
    margin:  0 1rem;
    padding: 0.25rem 0;

}

/**************************
NAVIGATION
***************************/
/* tarea: cuando baje el scroll que cambie de centro a la izquierda o derecha  */
nav{
    /* text-align: center; */
    background-color: #efefef;
    text-align-last: center;
    border-radius: 0.5rem;
    margin:  0 1rem;
    padding: 0.25rem 0;
    
}

nav a{
    color: none;
}
nav a:hover{
    color: black;
}

.barra{
    color: #1281db;
    font-size: 25px;
}

/*tarea arreglar menu fijo  */

#navSection {

    /* width: 1122px; */
    /* height:30px; */
    /* margin: 48px; */
    /* padding:5px 48px; */
    /* display:none; */
    /* background-color: red; */
}
/* es el ul del nav */
.menu-fijo{
    /* background-color: royalblue; */
    /* position:fixed; */
    top:0;   
    /* width: 260px; */
    /* float: right; */
    /* text-align: right; */
    padding:4px 0 5px 0;
    list-style-type:none;
}

.menu-fijo li{ display:inline; }
.menu-fijo a{
    transition: background-color 1s ease, box-shadow 0.3s ease;

    font-size:0.9em;
    /* text-shadow:1px 1px #5E8BC5; */
    padding:  0.5rem 0.5rem;
    /* margin: 3rem; */
    background-color:#efefef;
    border-radius: 4px;
}
.menu-fijo a:hover{
    background-color:#ffbb00;
    box-shadow: 0.8rem 1rem 0.5rem #222;

}

/*  */




/**************************
section article
***************************/
section article  {
    /* tarea: hacer que funcione la entrada de animaciones */
    transition: all 0.9s ease, box-shadow 0.3s ease; 

    background-color: #fff;
    margin: 1rem 0;
    border-radius: 1rem;
    padding: 0.25rem 0;
    cursor: pointer;
    margin: 1rem;
}
section article h2, section article p{
        margin: 1rem;
}
section article:hover{
    /* box-shadow: 0 0.1rem 0.4rem rgb(0,0,0, 0.3); */
    box-shadow: -0.2rem 0.1rem 0.4rem #e90e0e ;
}

.container{
    max-width: 600px;
    margin: 0 auto;
}

.linkGBlack{
    color: #212529;
    font-size: 100%;
}


/**************************
Tabla de practica
***************************/
table {
    width: 90%;
    /* eliminando espacio entre celdas */
    border-collapse: collapse;
    display: none;
}

th,td{
    border: solid 1px #eee;
    padding: 5px;

}
th{
    background-color: tomato;
    color: white;
    text-align: left;
}
/* seleccionar elementos sean pares o impares 
dependiendo si esta en un listado o una tabla, dando colores a cada celda par o impar  
odd = par 
even = impar*/
tr:nth-child(even){
    background-color: #eee;

}

tr:hover{
    background-color: #aaa;
    cursor: pointer;
}
/* #wrapper {
    max-width: 940px;
    margin: 0 auto; 
    padding: 0 5%;
  } */




/**************************
footer
***************************/
footer{
    /* position: fixed;
    bottom: 0;
    max-width: 100%;
    max-height: 100%;
     */
    background-color: #222;
    padding: 2rem;
    margin: 0 1rem ;
    color: #fff;
  
    /* diseño izquierda  */
    /* float:left; */
    
}

footer section {
    float: right;
    
}
footer h5, footer p {
    margin: 0;
}
footer a{

    transition: color 0.3s ease;

    color: #fff;
    text-decoration: none;

}
footer a:hover{
    color: cornflowerblue;
}


