html{
    /* google fonts montserrat */
   font-family: 'Montserrat', sans-serif;

}


body {
    background: url(../img/fondos/consola.png);
    background-size: cover;
    background-repeat: no-repeat;
    margin: 0;
    height: 100vh;
}

header{
    background: url(./img/fondos/Cohete.jpg);
    background-color: #364552;
    color: white;
    margin:  0 1rem;
    padding: 1rem 1rem;
}
header img {
    width: auto;
    height: auto;
    margin:  0;
    padding: 0;
}

header h1 {
    font-size: 4rem;
    text-align: center;
}

img {
    width: 100%;
}


/* PIE */
footer{
    background-color: #222;
    padding: 3rem;
    margin: 1rem ;
    color: #fff;
}
footer section {
    float: right;
}
footer h5, footer p {
    margin: 0;
}
footer a{

    transition: color 0.3s ease;

    color: #fff;
    text-decoration: none;

}
footer a:hover{
    color: cornflowerblue;
}