<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Netflix Colombia: Ve series online, ve películas online</title>
    <link rel="stylesheet" href="../../css/clone/netflix.css">
</head>

<body>
    <header>
        <h1 class="default title">Películas y series ilimitadas y mucho más</h1>
    </header>
    <div class="overlay">
        <div class="login-box">
            <h2>Iniciar sesión</h2>
            <input type="email" placeholder="Correo electrónico" required>
            <input type="password" placeholder="Contraseña" required>
            <button class="btn">Iniciar sesión</button>
        </div>
    </div>
</body>

</html>