<html>

<head>
	<meta http-equiv="Content-Type" content="text/html; charset=windows-1252">
	<title>ctrl+shif+c you00.dat</title>

	<link rel="stylesheet" href="../../css/leavenow.css">

</head>

<body onload="document.figletform.figletfont.focus();">
	<div align="center">
		<blockquote>
			<!-- velocidad de movimiento
		scrollamount = "10px" 
		accion de rebote
		behavior = "alternate"
		accion 'slide' una vez complete su recorrido se detiene
		behavior = "slide" -->
			<marquee scrollamount="10px" behavior="slide" direction="up">
				<p>Piratadelrock - pruebas</p>
			</marquee>
		</blockquote>
	</div>
	<table>

		<tr>
			<td>
				<a class="link" onclick="goBack()">
					<<span id="txt">_</span>Atras.js
				</a>
			</td>
		</tr>
		<tr>
			<td>
				<a class="link" onclick="history.back( -1)">
					<<span id="txt">_</span>Atras.history.back(-1)
				</a>
			</td>
		</tr>
		<tr>
			<td>
				<a class="link" href="https://www.whoismrrobot.com/fsociety/" style="color: #f00 ">root@:~#</a>
				<a class="link" href="../../" style="color: #00ff00; font-family: console; letter-spacing:0.2em">?:~#
					<marquee width=1 direction=right>_
					</marquee>
					<marquee width=1 direction=right>_
					</marquee>
					<marquee width=1 direction=right>_
					</marquee>
					<marquee width=1 direction=right>_
					</marquee>
					<marquee width=1 direction=right>_
					</marquee>
					<marquee width=1 direction=right>_
					</marquee>
					<marquee width=1 direction=right>_
					</marquee>
					<marquee width=1 direction=right>_
					</marquee>
					<marquee width=1 direction=right>_
					</marquee>
					<marquee width=1 direction=right>_
					</marquee>
					<marquee width=1 direction=right>_
					</marquee>
				</a>
			</td>
		</tr>

		<div class="ttime">
			<p>The time is now</p>
		</div>
		<aside>
			<h3>cloneando paginas</h3>
			<a href="../clone/netflix.html">
				<span id="netflix">Netflix</span>
			</a>
		</aside>

	</table>
</body>

</html>