<html>
    <head>
        <title>
            HTML5 CON VARIOS EJEMPLOS
        </title>
    </head>
    <body alt="Shiro-DWL-Piratadelrock" background="https://images.alphacoders.com/433/433858.jpg" style="position:absolute; top: 0; left: 0; width: 100%; height: 100%">
        <h3 style="color:red;">
            <marquee behavior="slide" direction="right" scrollamount="10px" width="20%">CONTACTOS</marquee>
        </h3>

        <div class="container">
            <font color="red" face="Comic Sans MS,arial,verdana">
                ingrese los datos a continuación para pronto comunicarnos con usted
            </font>
            <form action="" color="white" method="">
                <table aling="center" border="1">
                    <tr>
                        <td>
                            <label for="nombre" style="color:red; ">
                                Nombre:
                            </label>
                        </td>
                        <td>
                            <input id="nombre" type="text">
                                <br>
                                </br>
                            </input>
                        </td>
                        <tr>
                            <td>
                                <label for="correo" style="color:red">
                                    Correo electronico:
                                </label>
                            </td>
                            <td>
                                <input id="correo" type="email" value="@" required>
                                    <br/>
                                </input>
                            </td>
                        </tr>
                        <tr>
                            <td style="color:red">Telefono</td>
                            <td><input type="number" name="Tel" maxlength="45" size="35"></td>
                              
                        </tr>
                        <tr>
                            <td style="color:red">G&eacute;nero</td>
                            <td style="color:red">F:<input type="radio" name="genero" value="F" checked> M: <input type="radio" name="genero" value="M" ></td>
                              
                          </tr>
                        <tr>
                            <td>
                                <label for="mensaje" style="color:red">
                                    Mensaje:
                                </label>
                            </td>
                            <td>
                                <textarea cols="40" name="comentarios" rows="3">
                                </textarea>
                                
                            </td>
                            
                            
                        </tr>
                          
                    </tr>
                    <table style="color:red">
                        <tr>
                          <td>Lenguajes</td>
                          <td>
                            HTML:<input type="checkbox" name="Lenguajes" value="html"> 
                            JAVASCRIPT: <input type="checkbox" name="Lenguajes" value="javascript"> 
                            PHP: <input type="checkbox" name="Lenguajes" value="php"></td>
                            
                        </tr>
                            <tr>
                              <td>Nivel:</td>
                              <td>
                                <select name="Nivel">
                                  <option value="ninguno">--Seleccione una Opci&oacuten--</option>
                                  <option value="Bajo">Nivel Bajo</option>
                                  <option value="Medio">Nivel Medio</option>
                                  <option value="Alto">Nivel Alto</option>
                                </select>
                              
                              
                              </td>
                        
                        
                            </tr>
                            
                        <tr>
                          <td>
                            <br>
                                <input type="submit" value="enviar"/>
                                <button><a href="../index.html" style="text-decoration:none;">Volver</a></button>

                            </br>
                         </td> 
                         <td></td>  
                        </tr>
                      
                      </table>
                    <!-- intentar devolver informacion -->
                </table>
            </form>
            

  
        </div>
    </body>
    <!-- alineacion -->
</html>
